*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes rgbCores{
    0% {
        border: 3px solid hsl(0, 100%, 50%);
    }

    20%{
        border: 3px solid hsl(60,100%,50%);
    }

    40%{
        border: 3px solid hsl(120,100%,50%);
    }

    60%{
        border: 3px solid hsl(180,100%,50%);
    }   

    80%{
        border: 3px solid hsl(240,100%,50%);
    }

    100%{
        border: 3px solid hsl(300,100%,50%);
    }
}

img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    animation: rgbCores 8s infinite;
}

body{
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}